html {
  scroll-snap-type: y mandatory;
}

.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
}

.app__top > h2 {
  color: white;
  text-align: center;
}
.app__top > p {
  color: white;
  text-align: center;
}

.app__logo {
  height: 12.7vh;
  /* margin-top: 5px; */
  margin: 0 80px;
}

.app__conatiner {
  cursor: pointer;
  position: relative;
  height: 65vh;
  background-color: gray;
  width: 85%;
  height: 97.7%;
  border-radius: 20px;
  max-width: 270px;
  max-height: 1200px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

/* Hide the Scrollbar  */
.app__conatiner::-webkit-scrollbar {
  display: none; /*Chrome and Safari*/
}

.app__conatiner {
  -ms-overflow-style: none; /*IE and Edge*/
  scrollbar-width: none; /*Firefox*/
}
